@media screen and (max-width: 800px){
  .Modules__Section {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .Modules__Section.open .content {
    padding-top: 40px !important;
  }


}
