.Modules__Section .content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition: all 0.4s ease;
}

.Modules__Section .container-text {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.Modules__Section .container-text svg {
  position: absolute;
  right: 0px;
}

.Modules__Section.open .content {
  max-height: 1000px;
  opacity: 1;
}
