.Social__Section {
  width: 100%;
}

.Social__Section svg {
  color: #fff;
  background: var(--text-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  margin: 10px;
  padding: 6px;
  cursor: pointer;

  transition: all 0.4s ease;
}

.Social__Section svg:hover {
  background: var(--primary-color);
}
