@media screen and (max-width: 800px){
  .First__Section {
    background-image: url('../../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position-y: -90px;
    padding: 0px 60px;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .First__Section h1,
  .First__Section h3 {
    color: var(--text-color);
  }

  .First__Section h1 {
    font-size: 40px;
  }

  .First__Section .left h3 {
    margin-top: 100px;
  }

  .First__Section .left {
    padding: 10px;
  }

  .First__Section .form {
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 100%;
    background: rgba(255,255,255,.2);
  }
  
}
